<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue SPA</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    
<h1>Vue SPA</h1>
    
<pre>
    <span >// For development </span>
    <span>&lt;script src=”https://cdn.jsdelivr.net/npm/vue/dist/vue.js"&gt;&lt;/script&gt;</span>
</pre>
or
<pre>
    <span>// For production, optimized for size and speed</span>
    <span>&lt;script src=”https://cdn.jsdelivr.net/npm/vue"&gt;&lt;/script&gt;</span>
</pre>

<p>
Alternatively, and the way I would recommend, would be to use node package manager. NPM is the recommended installation method when building large applications with Vue. It pairs nicely with module bundlers such as Webpack and Browserify. Simply run in the terminal:
</p>

<pre><span>$ npm install vue</span></pre>


<div id="app">
    {{message}}
</div>

<div id="app-3">
    <span v-if="reveal">Hidden message...</span>
  </div>

  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

<script>
    var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello World!'
    }
  });

  var app3 = new Vue({
  el: '#app-3',
  data: {
    reveal: true
  }
});

var app4 = new Vue({
  el: '#app-4',
  data: {
    todos: [
      { text: 'Get a haircut' },
      { text: 'Get a car' },
      { text: 'Get a job' }
    ]
  }
});


var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
});

var app6 = new Vue({
  el: '#app-6',
  data: {
    message: 'Watch me change as you type'
  }
});

</script>
  </body>
</html>